.text-center {
    margin-top: 3vmin;
    margin-bottom: 2vmin;
}

.create-text {
    margin-top: 10vmin;
    margin-bottom: -2vmin;
}

.col-sm-10 {
    text-align: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 8vmin;
}

.profiles {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
}

#desc-table {
    margin-top: 3vmin;
}

#edit-button {
    text-decoration: none;
    color: white;
}

#roll-btn {
    display: inline;
}

#dead-space {
    margin-bottom: 20vmin;
}

#character-delete-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50%;
    padding-right: 50%;
}

#p-text {
    margin-bottom: 4vmin;
    margin-top: 3vmin;
}

#specs {
    margin-top: 3vmin;
    margin-bottom: 3vmin;
}

#creation {
    margin-left: 10vmin;
    margin-right: 10vmin;
}

#create-character-form {
    padding-left: 30%;
    padding-right: 30%;
}